* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid skyblue; */
}

html,
body,
main,
.greetings,
.about,
.skills,
.about-info-con {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  width: 90%;
  margin: auto;
}

section:not(.project):not(.contact) {
  margin-bottom: 7vh;
}

img {
  max-width: 100%;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* To avoid zooming on IOS devices when typing the fields */
input,
textarea {
  font-size: 17px;
}

textarea {
  resize: none;
}

/* For links */
.link {
  color: white;
}

.menu-button,
.close-button {
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  padding: 15px;
  right: 3px;
  top: 3px;
}

.menu-button-img,
.close-button-img {
  min-width: 31px;
  padding: 6px;
}

.nav-list {
  list-style-type: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  text-align: center;
  transition: opacity 0.3s, height 0.3s;
  z-index: 2;
}

.menu-button,
.nav-list {
  position: fixed;
}

.nav-item {
  height: 100%;
  max-height: 20vh;
  transition: background-color 0.3s;
}

.nav-link,
.nav-link-content {
  display: block;
  height: 100%;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
  -webkit-tap-highlight-color: transparent;
}

.nav-link-content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.397);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.capital {
  text-transform: capitalize;
}

.greetings {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greetings-heading {
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 43px;
  margin-bottom: 80px;
}

.skills-logos-design {
  width: 260px;
}

.arrow-down-con {
  position: absolute;
  bottom: 20px;
}

.arrow-down-icon {
  width: 45px;
}

/* Remove later */
.about {
  padding: 10px;
}

.about-info-con {
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.pic-about {
  text-align: center;
}

.personal-pic {
  width: 171px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.left-quote {
  align-self: flex-start;
}

.my-journey {
  padding: 7px;
}

.right-quote {
  align-self: flex-end;
}

.skills-logos {
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-logo-con {
  width: 50%;
  height: 25%;
  justify-content: center;
  align-content: center;
}

/*** Projects section ***/
.project {
  position: relative;
  width: 258.394px;
  height: 258.394px;
  display: flex;
  background: white;
  color: black;
  border: 2px solid #757575;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8rem;
  margin: 6rem auto;
}

.project::after {
  content: "";
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  box-shadow: 15px 19px 32px rgba(255, 255, 255, 27%);
}

.project-repo-link {
  align-self: flex-end;
}

.project-name {
  font-size: 2rem;
  display: flex;
  align-items: center;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 50%);
}

.project-name::before {
  content: url(/assets/dash.svg);
  width: 40px;
  height: 60px;
}

.memory-game-name::before {
  height: 95px;
}

.classic-arcade-game-name::before {
  height: 132px;
}

.project-link {
  color: black;
  text-decoration: none;
}

.projects-tools-used {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.tool-used {
  font-size: 0.72rem;
  font-weight: 500;
  display: inline-block;
}

.project-description {
  width: 97%;
  margin-bottom: 20px;
}

.project-links-con {
  width: 43%;
  justify-content: space-between;
}

/* Contact Section */
.contact-email-con {
  padding: 3rem 0;
}

.contact-email {
  font-size: 1rem;
  text-align: left;
}

.contact-email-link {
  font-weight: 400;
  text-decoration: none;
}

/* footer */
.page-footer {
  justify-content: center;
}

.footer-links-con {
  width: 50%;
  justify-content: space-between;
}

.footer-link {
  padding: 10px 0;
}

.footer-link-logo {
  width: 25px;
}

.github-svg {
  fill: #fff;
}

.footer-link,
.email-link {
  align-self: flex-end;
}

/* Used to show hidden elements  */
.show {
  height: 100%;
  visibility: visible;
  opacity: 1;
}

/* To hide elemnt by visibility */
.vis-hidden {
  visibility: hidden;
}

/* To hide elements with JS */
.overf-hidden {
  overflow: hidden;
}

/* Used for sections headings */
.sections-heading {
  font-size: 2.5rem;
}

/* Media Queries */
@media screen and (min-width: 380px) {
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .greetings-heading {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 55px;
  }

  .skills-logos-design {
    width: 330px;
  }

  .about-info-con {
    flex-wrap: nowrap;
  }

  .pic-about,
  .summary {
    align-self: center;
  }

  .personal-pic {
    width: 90%;
    margin-bottom: 0;
  }

  .projects-con {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .project-con:last-child {
    margin-bottom: 6rem;
  }

  .project {
    margin-bottom: 0;
  }

  .footer-links-con {
    width: 23%;
  }
}

@media screen and (min-width: 992px) {
  .greetings {
    flex-direction: row;
    justify-content: space-between;
  }

  .greetings-heading {
    width: 50%;
    font-size: 3rem;
    margin: 0;
  }

  .skills-logos-design {
    width: 360px;
  }

  .arrow-down-con {
    left: 50%;
    transform: translateX(-50%);
  }

  /* About section  */
  .pic-about {
    width: 40%;
  }

  .summary {
    width: 60%;
  }

  .personal-pic {
    width: 75%;
  }

  /* Skills section */
  .skill-logo {
    width: 80px;
  }

  /* Projects section */
  .project-links-con {
    width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .sections-heading {
    font-size: 4rem;
  }

  .header {
    position: fixed;
    width: 36%;
    right: 0;
    margin-right: 4.999%;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
  }

  .nav-list {
    visibility: visible;
    display: flex;
    position: static;
    background-color: transparent;
    opacity: 1;
    flex-direction: row;
    transform: translate(0, 0);
    justify-content: space-between;
  }

  .close-button,
  .menu-button {
    visibility: hidden;
    display: none;
  }

  .nav-item:hover span {
    transition: border 0.1s ease-in;
    border-bottom: 3px solid white;
  }

  .nav-link {
    padding: 20px 20px;
  }

  .nav-link-content {
    padding: 0;
    border: none;
    text-shadow: 1px 1px 3px black;
  }

  /* Greetings section  */
  .greetings-heading {
    font-size: 4rem;
  }

  .skills-logos-design {
    width: 430px;
  }

  /* About section */
  .my-journey {
    font-size: 1.5rem;
  }

  /* Skills section */
  .skills {
    height: 90%;
    margin-bottom: 79px;
    display: flex;
    flex-wrap: wrap;
  }

  .skills-logos {
    height: 220px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
  }

  .skills-logo-con {
    height: auto;
  }

  .skills-logo-con:nth-child(odd) {
    justify-self: flex-end;
    align-self: flex-end;
  }

  .skills-logo-con:nth-child(even) {
    justify-self: flex-start;
    align-self: flex-start;
  }

  .big-logo {
    width: 80%;
    max-width: 100px; /* To make logos stop growing and looking weird on big screens */
  }

  /* Projects section */
  .projects-con {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Contact section  */
  .contact-email-link {
    font-size: 1.2rem;
  }
}
